{% extends "base.html" %} {% block content %}

<legend class="border-bottom mb-4 h4 text-muted">CHOOSE CATEGORY</legend>

<div class="container mt-4 text-center">
  {% if categories != 0 %} {% for category in categories %}

  <div class="card d-inline-flex text-center m-2" style="width: 18rem">
    <div class="card-body d-flex flex-column">
      <h4 class="card-title mb-3">{{category.description}}</h4>
      <div>
        <a
          class="btn btn-outline-info ml-2"
          href="{{ url_for('edit_category', id=category['id']) }}"
          >Edit</a
        >
        <a
          class="btn btn-outline-info ml-2"
          href="{{ url_for('delete_category', id=category['id']) }}"
          >Delete</a
        >
      </div>
    </div>
  </div>

  {% else %}
  <h2 class="text-muted">Your Category List is Empty</h2>

  {% endfor %} {% endif %}

  <div class="mt-3 d-flex justify-content-center">
    {% for page_num in categories.iter_pages(left_edge=1, right_edge=1,
    left_current=1, right_current=2) %} {% if page_num %} {% if categories.page
    == page_num %}
    <a
      class="btn btn-info mb-4 mr-2"
      href="{{ url_for('categories', page=page_num) }}"
      >{{ page_num }}</a
    >
    {% else %}
    <a
      class="btn btn-outline-info mb-4 mr-2"
      href="{{ url_for('categories', page=page_num) }}"
      >{{ page_num }}</a
    >
    {% endif %} {% else %} ... {% endif %} {% endfor %}
  </div>

  <div class="container d-flex justify-content-center">
    <a
      class="w-25 btn btn-primary me-2 btn-lg mr-3"
      type="button"
      href="{{ url_for('add_category')}}"
    >
      ENTER NEW CATEGORY
    </a>
  </div>
</div>
  {% endblock content %}

