{% extends "base.html" %} {% block content %}

<form method="POST" action="#" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <legend class="border-bottom mb-4 h4 text-muted">Edit Your Note</legend>
  <div class="form-group">
    {{ form.description.label(class="form-control-label h5 text-muted") }} {{
    form.description(class="form-control", value=notes.description) }} {{
    form.text.label(class="form-control-label h5 text-muted") }}
    {{form.text(class="form-control", value=notes.text) }} {{
    form.photo.label(class="form-control-label h5 text-muted") }} {{
    form.photo(class="form-control-file") }} {{
    form.category.label(class="form-control-label h5 text-muted") }} {{
    form.category(class="form-select") }} {% if form.photo.errors %} {% for
    error in form.photo.errors %}
    <span class="text-danger">{{ error }}</span>

    {% endfor %} {% endif %}
  </div>
  {{ form.submit(class="btn btn-outline-info btn-lg px-5") }}
</form>

{% endblock %}
