{% extends "base.html" %} {% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4 h4 text-muted">Login</legend>
      <div class="form-group">
        {{ form.email.label(class="form-control-label h5 text-muted") }} {% if
        form.email.errors %} {{ form.email(class="form-control form-control-lg
        is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.email(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="form-group">
        {{ form.password.label(class="form-control-label h5 text-muted") }} {%
        if form.password.errors %} {{ form.password(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.password(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="form-check">
        {{ form.remember_me(class="form-check-input ") }} {{
        form.remember_me.label(class="form-check-label h5 text-muted") }}
        <a class="ml-2" href="#"></a>
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info btn-lg") }}
    </div>
  </form>
</div>
<div class="border-top pt-3">
  <a class="btn btn-success btn-lg" href="/register">Create new account</a>
</div>
{% endblock content %}
